.selected{
    background-color: var(--highlight-green);
    width: fit-content;
}

.unselected{
    background-color: none;
    color:black;
}
.confirmContainer {
    position: relative;
}
.confirm {
    background-color: var(--button-style-1);
    color: white;
    border: none;
    height: 6vh;
    font-size: 30px;
    border-radius: 20px;
    margin: 0px auto;
}

.confirm:hover {
    background-color: #a94c30;
}

.li {
    list-style-type: none;
}

.answer {
    list-style-type: none;
    font-weight: 100;
    font-size: 30px;
}

.answer:hover {
    background-color: #64cb54 ;
    width: fit-content;
}

.question {
    list-style-type: none;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 90%;
}