.title{
    text-align: center;
    width: 100%;
}

.section{
    margin: 0px 0px 1.25rem;
}
.content{
    margin: 0px 0px 1rem;
}

.articleImage{
    width: 100%;
}

.controlList{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 100%;
}

.iconList{
    display: flex;
}
.iconList button{
    cursor: pointer;
}