.question{    margin: 15px 0px 5px;
}

.answer{
    width: 100%;
    display: block;
    margin: 5px 0px 20px;
}

.correct{
    background-color: rgb(73, 211, 73);
}

.wrong{
    background-color: rgba(255, 17, 0, 0.616);
}