import { useState, useEffect } from 'react';
import questionData from '@/data/question.json';
import Question from '@/Components/Question';
import QuizResult from '@/Components/QuizResult';

export default function Qiiz({ type = "all" }) {
    const [data, setData] = useState(questionData);

    const [resultData, setResultData] = useState({
        current: 0,
        totalOfCorrectAnswers: 0,
        totalOfWrongAnswers: 0,
        questionList: []
    });

    const getAnswer = (ans) => {
        let currentOfQuestion = data[resultData.current];

        currentOfQuestion['en'].answer = ans;
        console.log(currentOfQuestion['en'].correct_answer);
        currentOfQuestion['en'].answer = ans;

        if (currentOfQuestion['en'].answer == currentOfQuestion['en'].correct_answer) {
            setResultData(prevState => ({
                ...resultData,
                totalOfCorrectAnswers: resultData.totalOfCorrectAnswers + 1,
                current: resultData.current + 1,
                questionList: [...resultData.questionList, currentOfQuestion['en']]
            }));
        } else {
            setResultData(prevState => ({
                ...resultData,
                totalOfWrongAnswers: resultData.totalOfWrongAnswers + 1,
                current: resultData.current + 1,
                questionList: [...resultData.questionList, currentOfQuestion['en']]
            }));
        }
    };


    return (<>
        {resultData.current < data.length && (<>
            <Question data={data[resultData.current]} callBack={getAnswer} /></>
        )}

        {resultData.questionList.length == data.length &&
            (
                <><QuizResult resultData={resultData} /></>
            )
        }
    </>)

}