.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    width: 100%;
    height: var( --main-height);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  