.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-color);
  width: 430px;
  row-gap: 80px;
  flex-wrap: nowrap;
  align-content: center;
  overflow: hidden;

}

.title {
  font-family: Heavitas;
  color: var(--web-color-2);
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
}

.subtitle {
  text-align: center;
  align-items: center;
  width: 80%;
  margin-top: 0;
  color: var(--web-color-2);
}

.subtitleContainer {
  display: flex;
  justify-content: center;
}

.subtitleContainer input {
  width: 100%;
  margin: 20px 0px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 10px;
}

.subtitleContainer p {
  margin: 0px;
}

.formContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px;
}

.formContainer input {
  height: 40px;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 10px;
}

.mascot {
  margin-top: 40px;
  animation-name: scale-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.label {
  text-align: left;
  color: var(--web-color-2);
}

@keyframes scale-in-out {
  0% {scale:100%;}
  48% {scale:120%;}
  52% {scale:120%;}
  100% {scale:100%;}
}

.errorMsg{
  color: red;
  display: block;
  height: 20px;
}