.main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;;
    align-items: flex-start;
    padding: 2rem 2rem;
    height: var(--main-height);
    max-height: var(--main-max-height);
    overflow-y: scroll;
    overflow-x: hidden;
}
