.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-color);
  width: 100%;
  row-gap: 60px;
  flex-wrap: nowrap;
  align-content: center;
  overflow-y: scroll;
  overflow-x: hidden;

}

.title {
  font-family: Heavitas;
  color: var( --web-color-2);
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
}

.subtitle {
 text-align: center;
 align-items: center;
 width: 80%;
 margin-top: 0;
 color: var( --web-color-2);
}
.subtitleContainer {
  display: flex;
  justify-content: center;
}

.button {
  border: transparent;
  background-color: var(  --web-color-4);
  color: white;
  border-radius: 20px;
  width: 40vh;
  height: 9vh;
  margin-top: 10px;
}

.button:hover {
  border: transparent;
  background-color:#e44c05;
  color: white;
  border-radius: 20px;
  width: 40vh;
  height: 9vh;
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}


.mascot {
  animation-name: scale-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
 width: 30vh;
 height: 33vh;
}

@keyframes scale-in-out {
  0% {scale:100%;}
  48% {scale:120%;}
  52% {scale:120%;}
  100% {scale:100%;}
}