.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-color);
  width: 430px;
  row-gap: 60px;
  flex-wrap: nowrap;
  align-content: center;
  overflow: hidden;

}

.title {
  font-family: Heavitas;
  color: var( --web-color-2);
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
}

.subtitle {
 text-align: center;
 align-items: center;
 width: 80%;
 margin-top: 0;
 color: var( --web-color-2);
}
.subtitleContainer {
  display: flex;
  justify-content: center;
}

.button {
  border: transparent;
  background-color: var(  --web-color-4);
  color: white;
  border-radius: 20px;
  width: 40vh;
  height: 9vh;
  margin-top: 20px;
}

.button:hover {
  border: transparent;
  background-color:#e44c05;
  color: white;
  border-radius: 20px;
  width: 40vh;
  height: 9vh;
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}